html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
	background-color: $negro;
}
p {
    color: $blanco;
    font-size: 2rem;
	font-family: $fuente_secundaria;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1, h2, h3 {
    margin: 0 0 $separacion / 2 0 ;
    color: $azul;
    text-align: center;
}

h1 {
	font-family: $fuente_principal;
    font-size: 4rem;
	font-weight: 700;
	text-shadow: $sombraTitulo1;
}
h2 {
    font-size: 3.6rem;
	text-shadow: $sombraTitulo1;
	font-family: $fuente_principal;
}
h3 {
    font-size: 3rem;
    text-align: center;
}