.tabs {
	padding: 1.5rem 0;
	@include grid(3, $separacion - 3.7);

	button {
		background-color: $gris;
		font-size: 1.4rem;
		font-family: $fuente_terciaria;
		font-weight: $bold;
		padding: 1rem;
		border: .1rem solid $negro;
		text-transform: uppercase;

		&:hover {
			cursor: pointer;
		}
	}
}